<h1>Informatie</h1>

<p>
  <strong>Naam:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<% tempUser = @users.sample %>

<% if @user != tempUser %>
	Helaas, deze persoon heeft niet gewonnen!
<% end %>

<% if @user == tempUser %>
	Gefeliciteerd deze persoon heeft gewonnen!
<% end %>

<br>
<br>
<%= link_to 'Bekijk alle inschrijvingen', users_path %> | 
<%= link_to 'Pas Aan', edit_user_path(@user) %> |
<%= link_to 'Registreer je nu (opniew)', new_user_path %>
