<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Pas Aan', edit_user_path(@user) %> |
<%= link_to 'Terug', users_path %>
